body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin-top: 20px;
    margin-bottom: 10px;
}

.home_main {
    height: 100%;
    background-size: cover;
    background-color: #000;
    position: relative;
}
.home_main:before{
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
    background-image: url(../../../images/Home/dishes.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: fixed;

}

nav .btn {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .02em;
    line-height: 20px;
}

.btn {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.btn-primary {
    background-color: var(--first-color);
    border: var(--first-color);
}

.btn-primary:hover {
    background-color: var(--bt-hover);
    border: var(--first-color);
}
.btn-primary:active {
    background-color: var(--bt-hover);
    border: var(--first-color);
}

.home_main_title {
    text-align: center;
    max-width: 760px;
    font-size: 64px;
    font-weight: 900;
    line-height: 68px;
    margin: 20px auto 30px;
    opacity: 0.9;

  
}

.input-holder,.input-holder2 {
    position: relative;
    
}
.input-holder{
    margin-right: -24px;
}
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}  


.home_main_section .input-holder input {
    width: 100%;
    line-height: 65px;
    padding: 0 0 0 60px;
    border: none;
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
}
input:focus{
    outline: none;
}

.home_main_section .search-icon {
    position: absolute;
    right: 25px;
    top: 34%;
}
.home_main_section .icon{
    position: absolute;
    left: 25px;
    top: 34%;
    color: #cdcfcf;
}
.home_main_section .input-holder2 input{
    width: 100%;
    background-color: #f2f5f7;
    border: none;
    border-left: 1px solid #e8ebed;
    height: 65px;
    padding-left: 8px;
    color: black;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
}

.section_footer{
    margin-top: 100px;
    position: relative;
}
.section_footer_title{
    font-size: 20px;
    font-weight: 600;
}
.section_footer_links{
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    
}
.section_footer_links a{
    text-decoration: none;
}
.section_footer_link1{
    border-right: 1px solid #a9acae;
}
.section_footer_links h3{
    color: #464748;
}

.section_footer_links p{
    font-size: 13px;
    color: #a9acae;
    line-height: 16px;
}
.section_footer_links p .ico{
    float: right;
}
.order_online header{
    
    color: #a9acae;
}
.order_online header i{
   color: gray;
   padding: 0 16px;
}
.order_online header h2{
    font-size: 40px;
    font-weight: 600;
    color: var( --first-color);
    text-transform: uppercase;
    margin-bottom: 90px;
    margin-top: 20px;
    line-height: .79;
}
.card{
    border: 0;
    border-radius: 12px;
    box-shadow: 0 20px 34px 0 rgb(0 0 0 / 20%);
    
}
.order_online_body h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.order_online_body p{
    font-family: Gilroy,Open Sans;
    color: #464748;
    line-height: 24px;
    margin: 0 0 10px;
}
.order_online_footer h3{
    font-size: 24px;
    font-weight: 600;
    color: #8e52ff;
    line-height: 32px;
}
.order_online_footer p{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    line-height: 28px;
}
.order_online_footer p span{
    font-size: 10px;
    font-weight: 700;
    color: #7a4dcc;
    
}
.order_online_footer .delivery-btn{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .01em;
    text-transform: uppercase;
    margin-top: -25px;
    margin-left: 400px;

}
.clear{
    clear: both;
}
.dropdownRes{
   margin-top: -10px;
   padding-right: 10px;
}
.dropdownRes li{
    border: none;
}
.dropdownRes li:hover{
    background-color: rgb(228, 226, 226);
}
.logoResDrop{
    border-radius: 4px;
    background-color: white;
    width: 20px;
    height: 20px;
    border: #464748;
    --webkit-box-shadow: 0px 0px 6px 1px rgba(115,115,115,0.47);
    -moz-box-shadow: 0px 0px 6px 1px rgba(115,115,115,0.47);
    box-shadow: 0px 0px 6px 1px rgba(115,115,115,0.47);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* *****************SignUp Modal styling ****************/

.modalContainer{
    position: absolute;
    z-index: 3;
}

.navCont{
    position: relative;
    z-index: 0;
}


.ReactModal__Overlay {
    position: absolute;
    transition: opacity 500ms;
    margin-top: 4%;
}



.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    
}


.bgForm{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    position: relative;
}

.btn-close{
    position: absolute;
    top: 2%;
    right: 1%;
}

.form-container{
    position: absolute;
    top: 9%;
    background-color: white;
    width: 31%;
    padding: 3%;
    margin-left: 39%;
    border-radius: 4%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#signLogo{
    width: 45%;
    margin-left: 28%;
    margin-bottom: 10%;
}

.inpt input{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;

}

.submitBtn button{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}



.crtBtn{
    background-color: #e32207 !important;
    color: white !important;
}

.form-container .note{
    text-align: center;
    color: #e32207;
    font-size: 12px;
    font-weight: 500;
    padding-top: 6%;
}


/* *****************LogIn Modal styling ****************/

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms;
    
    
}


.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    
}


.bgForm{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    position: relative;
}

.btn-close{
    position: absolute;
    top: 2%;
    right: 1%;
}

.form-container{
    position: absolute;
    top: 9%;
    background-color: white;
    width: 31%;
    padding: 3%;
    margin-left: 39%;
    border-radius: 4%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#logLogo{
    width: 45%;
    margin-left: 28%;
    margin-bottom: 10%;
}

.inpt input{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;

}

.button button{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}



.goglBtn{
    background-color: #4267b2 !important;
    color: white !important;
}

.form-container .frgtPass{
    color: #e32207;
    font-size: 12px;
    font-weight: 500;
    padding-left: 33%;
    padding-top: 6%;
}

/* 
@media(min-width: 1200px) {
    .home_main nav .home_sign{
        display: none;
    }
    .home_main nav .home_logo{
        display: block;
        margin: auto;
    }
    .home_main_title{
        font-size: 28px;
        font-weight: 900;
        line-height: 1.5;
        margin: 30px auto 70px;
    }
    .section_footer_link1{
        border: none;
        border-bottom:1px solid #a9acae;
        
    }
    .order_online_footer{
        text-align: center;
        margin: auto;
        display: block;
    }
    .order_online_footer .delivery-btn{
        display: block;
        margin: auto;
        margin-top: 0;
        width: 30%;
    }
    
    
    .home_main_section_content button,.input-holder2{
        margin-left:0;
    }
    
    .input-holder2{
        margin-top: 8px;
        width: 100%;
          
    }
    .input-holder2 input{
        width: 100%;
    }
    
    .home_main_section_content .submit-btn{
        width: 40%;
        margin-top: 8px;
        margin-left: 30%;
    
    }
    
    
    
}
@media(min-width:500px) {
    .home_main nav .home_sign{
        display: none;
    }
    .home_main nav .home_logo{
        display: block;
        margin: auto;
    }
    .home_main_title{
        font-size: 28px;
        font-weight: 900;
        line-height: 1.5;
        margin: 30px auto 70px;
    }
    .section_footer_link1{
        border: none;
        border-bottom:1px solid #a9acae;;
    }
    .order_online_footer{
        text-align: center;
        margin: auto;
    }
    .order_online_footer .delivery-btn{
        display: block;
        margin: auto;
        margin-top: 0;
        width: 40%;
    }
    
    .home_main_section_content button ,.input-holder2{
        margin-left:0;
    }
    .input-holder{
        width: 100%;
     
    }
    .input-holder2{
        margin-top: 8px;
        width: 100%;
          
    }
    .input-holder2 input{
        width: 100%;
    }
    
    .home_main_section_content .submit-btn{
        width: 40%;
        margin-top: 8px;
        margin-left: 30%;
    
    }
    
} */

