
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms;
    
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    
}


.bgForm{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    position: relative;
}

.btn-close{
    position: absolute;
    top: 2%;
    right: 1%;
}

.form-container{
    position: absolute;
    top: 9%;
    background-color: white;
    width: 31%;
    padding: 3%;
    margin-left: 39%;
    border-radius: 4%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#signLogo{
    width: 45%;
    margin-left: 28%;
    margin-bottom: 10%;
}

.inpt input{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;

}

.button input{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}



.crtBtn{
    background-color: #e32207 !important;
    color: white !important;
}

.form-container .note{
    text-align: center;
    color: #e32207;
    font-size: 12px;
    font-weight: 500;
    padding-top: 6%;
}