body
{
    font-family: "Open Sans";
}

a{
    text-decoration: none;
}

.navbar-nav .nav-link
{
    color: black !important;
    font-weight: 700;
    font-size: 1vw;
    margin: 0 2px
}
.navbar-nav .nav-link:hover
{
    cursor: pointer;
    color: white !important;
    background-color: #e32207;
}
.search-side
{ 
   /* border: 1px solid var(--border-color); */
   box-shadow: 1px 1px 5px #dfe2eb;
}
.location-side
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.location-side .change-btn
{
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #e32207;
    color: var(--first-color);

}
.location-side span
{
    color: #e32207;
    /* background-color: wheat; */
}
.location-side .imgIcon
{
    width: 20px;
    max-width: 100%;
    height: auto;
}
.headerLocation
{
    margin-top: 5px; 
}
.btn-sign
{
    color: white;
    background-color: #e32207;
    border:#e32207;
}
.btn-log
{
    color: black;
    background-color: white;
    border:whitel
    
}
.color-a
{
    color: #e32207;
}


/* *****************SignUp Modal styling ****************/

.modalContainer{
    position: absolute;
    z-index: 3;
}

.navCont{
    position: relative;
    z-index: 0;
}


.ReactModal__Overlay {
    position: absolute;
    transition: opacity 500ms;
    margin-top: 4%;
}



.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    
}


.bgForm{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    position: relative;
}

.btn-close{
    position: absolute;
    top: 2%;
    right: 1%;
}

.form-container{
    position: absolute;
    top: 9%;
    background-color: white;
    width: 31%;
    padding: 3%;
    margin-left: 39%;
    border-radius: 4%;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

#signLogo{
    width: 45%;
    margin-left: 28%;
    margin-bottom: 10%;
}

.inpt input{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;

}

.submitBtn button{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}



.crtBtn{
    background-color: #e32207 !important;
    color: white !important;
}

.form-container .note{
    text-align: center;
    color: #e32207;
    font-size: 12px;
    font-weight: 500;
    padding-top: 6%;
}


/* *****************LogIn Modal styling ****************/

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms;
    
    
}


.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    
}


.bgForm{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    position: relative;
}

.btn-close{
    position: absolute;
    top: 2%;
    right: 1%;
}

.form-container{
    position: absolute;
    top: 9%;
    background-color: white;
    width: 31%;
    padding: 3%;
    margin-left: 39%;
    border-radius: 4%;
}

#logLogo{
    width: 45%;
    margin-left: 28%;
    margin-bottom: 10%;
}

.inpt input{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;

}

.button button{
    height: 39px;
    width: 100%;
    border-radius: 5px;
    padding: 2%;
}



.goglBtn{
    background-color: #4267b2 !important;
    color: white !important;
}

.form-container .frgtPass{
    color: #e32207;
    font-size: 12px;
    font-weight: 500;
    padding-left: 33%;
    padding-top: 6%;
}