body
{
    font-family: "Open Sans";
}

a{
    text-decoration: none;
}

.navbar-nav .nav-link
{
    color: black !important;
    font-weight: 700;
    font-size: 1vw;
    margin: 0 2px
}
.navbar-nav .nav-link:hover
{
    cursor: pointer;
    color: white !important;
    background-color: #e32207;
}
.search-side
{ 
   /* border: 1px solid var(--border-color); */
   box-shadow: 1px 1px 5px #dfe2eb;
}
.location-side
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.location-side .change-btn
{
    font-size: 12px;
    font-weight: 700;
    border: 1px solid #e32207;
    color: var(--first-color);

}
.location-side span
{
    color: #e32207;
    /* background-color: wheat; */
}
.location-side .imgIcon
{
    width: 20px;
    max-width: 100%;
    height: auto;
}
.headerLocation
{
    margin-top: 5px; 
}


