@use 'mixins.scss';
.modalDiv{
    width: 45vw ;   /* Occupy the 90% of the screen width */
    max-width: 90vw;
}
.aDescPro{
    @include mixins.font(14px,400,20px,#a9acae)
}
.amodalDivRemoval{
    width: 100%;
    margin:auto;
    .amodalRemove{
        @include mixins.font(13px,600,19px,#7a4dcc)
    }
}
.aPlusMinus{
    text-align: center;
    padding:10px;
    width: 100%;
    button,span{
      @include mixins.font(50px,500,33px,grey);
    }
  }

  .aModalFooter{
    position: sticky;
    z-index: 1;
    bottom: 0;
    border-top: 0;
    background: #fff;
    padding: 15px;
    .aBuyButton{
      @include mixins.font(16px,500,33px,white);
      background-color: var(--first-color);
      width:100%;
      margin:10px;
      padding:20px 30px;
    }
  }